/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* 
  Source: https://www.joshwcomeau.com/css/custom-css-reset/

 =========== END CSS RESET ================
*/

:root {
    --displayFont: 'MuseoModerno', sans-serif;
    --bodyFont: 'Rubik', sans-serif;

    --bodyGreen: rgb(88, 164, 61);
    --bodyYellow: rgb(175, 181, 42);
    --linkYellow: rgb(227, 237, 43);
    --bodyAccentPink: rgb(254, 191, 155);
}
h1 {
    font-family: var(--displayFont);
    font-weight: 400;
    margin: 10px;
}
h2 {
    font-family: var(--displayFont);
    font-weight: 100;
    margin-left: 10px;
}
body {
    padding-top: 2vw;
    /* padding-left: 5vw; */
    padding-right: 5vw;
    margin: 5px;
    background-color: rgb(255, 245, 231);
    color: rgb(15, 15, 15);
    height: 100vh;
    width: 100vw;

    font-family: var(--bodyFont);
    z-index: -3;
} 

img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

i, a {
  color: rgb(15, 15, 15);
  text-decoration: none;
}

.nav {
    background-color: var(--bodyGreen);
    width: 100vw;
    display: flex;
    flex-flow: row;
    position: fixed;
    top: 0;
    left: 0;

}
.navText {
    font-family: var(--displayFont);
    font-weight: 100;
    font-size: 2em;
    text-decoration: none;
    color: var(--linkYellow);
    margin: 5px;
    margin-right: 3vw;
}
.title {
    display: flex;
    flex-direction: column;
}
.foot {
    background-color: var(--bodyYellow);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;

}
.footLeft, .footRight, .footCenter {
  margin: 1em;
}

.btn {
    font-family: var(--displayFont);
    font-weight: 200;
    font-size: 1em;
    text-decoration: none;
    color: white;

    background-color: var(--bodyGreen);
    border-radius: 10px;

    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    width: 100px;
    height: 15px;

}
.btnRound {
    font-family: var(--displayFont);
    font-weight: 300;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    
    background-color: var(--bodyGreen);
    margin: 0 1.1em;
    padding: 0;
    border-radius: 50%;
    /* padding: 20px 20px 20px 20px; */
}
.btnRound > a {
  color: white;
}

.hero {
  position: absolute;
  top: 20vh;
  width: 100vw;
  margin: 8px;
  padding: 14px;
  display: flex;
  flex-flow: row;
  z-index: -1;
}
.heroTextTop {
  min-height: 100px;
  display: flex;
  width: 100%;
  max-height: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%
}
.left {
    padding: 10px;
    display: flex;
    width: 37vw;

    justify-content: center;
}
.about {
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.imgSub {
  font-size: .9em;
  padding: 5px;
  background-color: rgb(230, 179, 187, .7);
}
.right {
    padding: 10px;
    width: 55vw;
    text-align: justify;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.rightNav {
  display: flex;

}
.yellow {
    background-color: var(--bodyYellow);
}
.white {
  color: white;
}
.heroImg {
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 1100px){
 
  .btnRound {
    height: 125px;
    width: 125px;
    font-size: .9em;
  }
  .heroImg {
    width: 300px;
    height: 300px;
  }
  .navText {
    font-size: 1.7em;
  }

}
@media screen and (max-width: 900px){
 
  .btnRound {
    height: 108px;
    width: 108px;
    font-size: .8em;
  }
  .heroImg {
    width: 270px;
    height: 270px;
  }
  .navText {
    font-size: 1.5em;
  }
  .rightNav {
    flex-direction: column;
    align-items: end;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.3em;
  }
  .footLeft, .footRight, .footCenter {
    margin: 0;
  }
  .nav > .left  {
    width: 80%;
  }
  .foot {
    font-size: 1em;
    padding: 4px;
    
  }
  i {
    font-size: .4em;
  }


}
@media screen and (max-width: 770px){
 
  .btnRound {
    height: 100px;
    width: 100px;
    font-size: .8em;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 2%;
  }
  .left {
    width: 80%;
  }
  .right {
    width: 80%;
  }
  .heroImg {
    width: 250px;
    height: 250px;
  }
  .navText {
    margin-left: 2%;
  }
  .btn  {
    margin: 10px;
    font-size: .7em;
    height: 30px;
  }
  .footLeft {
    width: 40%;
  }
  .footCenter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

}
@media screen and (max-width: 550px){
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1em;
  }
  .btnRound {
    height: 85px;
    width: 85px;
    font-size: .62em;
  }
  .hero {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding: 0;
    margin:0;
    width: 100%;
    height: 110vh;
    z-index: -2;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .left {
    width: 80%;
  }
  .right {
    width: 75%;
  }
  .heroImg {
    width: 250px;
    height: 250px;
  }
  .navText {
    margin-left: 2%;
  }
  .footLeft {
    width: 40%;
  }

}